<div id="<%= dom_id rubyraildb %>">
    <tr>
      <th scope="row"><%= rubyraildb.first_name %></th>
      <td><%= rubyraildb.last_name %></td>
      <td><%= rubyraildb.email %></td>
      <td> <%= rubyraildb.phone %></td>
      <td>  <%= rubyraildb.twitter %> </td>
      <td>   <%= link_to "Show this friend", rubyraildb %> </td>
    </tr>
</div>

